<?xml version="1.0"?>
<robot name="caster" xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <xacro:include filename="$(find franka_description)/robots/caster_wheel.xacro" />

  <link name="world" />

  <xacro:caster_wheel name="caster" mass="0.3" radius="0.05" length="0.02" parent="world" caster_joint_z="-0.08" caster_steering_offset="-0.04">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:caster_wheel>

</robot>
