<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tmr">
  <!-- Name for this robot -->
  <xacro:arg name="mobile_robot_id" default="tmr" />

  <!-- IP address or hostname of the robot" -->
  <xacro:arg name="robot_ip" default="" />

  <!-- Is the robot being controlled with ros2_control?" -->
  <xacro:arg name="ros2_control" default="true" />

  <!-- Should a fake hardware be used? -->
  <xacro:arg name="use_fake_hardware" default="false" />

  <!-- Should fake sensors be used? -->
  <xacro:arg name="fake_sensor_commands" default="false" />


  <xacro:include filename="$(find franka_description)/robots/tmr.xacro" />
  <xacro:tmr
    mobile_robot_id="$(arg mobile_robot_id)"
    robot_ip="$(arg robot_ip)"
    use_fake_hardware="$(arg use_fake_hardware)"
    fake_sensor_commands="$(arg fake_sensor_commands)"
    ros2_control="$(arg ros2_control)">
  </xacro:tmr>

</robot>
