<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="tmr_v02_ros2_control"
    params="mobile_robot_id
            robot_ip
            use_fake_hardware
            fake_sensor_commands">
    <ros2_control name="TmrHardware" type="system">
      <hardware>
        <param name="version">0.1.0</param>
        <param name="mobile_robot_id">${mobile_robot_id}</param>
        <param name="arm_id">tmr_v02</param>
        <xacro:if value="${use_fake_hardware}">
          <plugin>fake_components/GenericSystem</plugin>
          <param name="mock_sensor_commands">${fake_sensor_commands}</param>
          <param name="state_following_offset">0.0</param>
        </xacro:if>

        <xacro:if value="${use_fake_hardware == 0}">
          <plugin>franka_hardware/FrankaHardwareInterface</plugin>
          <param name="robot_ip">${robot_ip}</param>
        </xacro:if>
      </hardware>

      <xacro:macro name="configure_steering_joint" params="joint_name initial_position">
        <joint name="${joint_name}">
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
        </joint>
      </xacro:macro>

      <xacro:macro name="configure_driving_joint" params="joint_name initial_position">
        <joint name="${joint_name}">
          <state_interface name="velocity">
            <param name="initial_value">0.0</param>
          </state_interface>
        </joint>

      <xacro:configure_steering_joint joint_name="argo_drive_front_steering_joint" initial_position="0.0" />
      <xacro:configure_driving_joint joint_name="argo_drive_front_joint" initial_position="0.0" />
      <xacro:configure_steering_joint joint_name="argo_drive_rear_steering_joint" initial_position="0.0" />
      <xacro:configure_driving_joint joint_name="argo_drive_rear_joint" initial_position="0.0" />

    </ros2_control>
  </xacro:macro>
</robot>
