<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tmr_v02">

<xacro:include filename="$(find franka_description)/robots/tmr_v02/tmr_v02.xacro"/>

  <!--
    DEPRECATION NOTICE
    argument arm_id is no longer supported and will be removed in the future.
    This argument is ignored.
  -->
  <!-- Define arguments -->
  <xacro:arg name="arm_id" default="tmr_v02" />

  <!-- Define arguments -->
  <xacro:arg name="xyz_value" default="0 0 0" />

  <!-- Define arguments -->
  <xacro:arg name="rpy_value" default="0 0 0" />

  <!-- Should self-collision be enabled? -->
  <xacro:arg name="with_sc" default="false" />

  <!-- Is the robot being controlled with ros2_control?" -->
  <xacro:arg name="ros2_control" default="false" />

  <!-- IP address or hostname of the robot" -->
  <xacro:arg name="robot_ip" default="172.16.0.4" />

  <!-- Should a fake hardware be used? -->
  <xacro:arg name="use_fake_hardware" default="false" />

  <!-- Should fake sensors be used? -->
  <xacro:arg name="fake_sensor_commands" default="false" />

  <!-- Prefixes for arm -->
  <xacro:arg name="arm_prefix" default="platform" />


  <link name="base">
  </link>

  <joint name="$(arg arm_prefix)_base" type="fixed">
    <parent link="base"/>
    <child link="base_link"/>
    <origin rpy="$(arg rpy_value)" xyz="$(arg xyz_value)"/>
  </joint>
  <xacro:tmr_v02 mobile_robot_id="$(arg arm_id)"
              robot_ip="$(arg robot_ip)"
              ros2_control="$(arg ros2_control)"
              use_fake_hardware="$(arg use_fake_hardware)"
              fake_sensor_commands="$(arg fake_sensor_commands)"/>

</robot>